<div class ="image-gallery">
    {% assign sorted = site.static_files | sort: 'date' %}
    {% for file in sorted %}
        {% if file.path contains include.folder %}
            {% unless file.path contains 'thumbs' %}
                {% if file.extname == '.jpg' %}
                    {% assign filenameparts = file.path | split: "/" %}
                        {% assign filename = filenameparts | last | replace: file.extname,"" %}
                        {% assign directory = filenameparts | slice: 1, 3 | join: "/"" %}
                        <div class="box"><a href="{{ file.path | relative_url }}" title="{{ filename }}">
                        <img src="/{{ directory }}/thumbs/{{ filename }}.jpg" alt="{{ filename }}"  class="img-gallery" />
                        </a></div>
                {% endif %}
            {% endunless %}
        {% endif %}
    {% endfor %}
</div>
  <style>
   .image-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
        justify-content: center;
        padding: 4px;
        grid-gap: 15px;
    }

    .img-gallery {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    /*
   .image-gallery {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 5vw);
        grid-gap: 15px;
    }

    .img-gallery {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    */
  </style>